html,
body {
    background-color: #f2e8d5;
    margin: 0 auto;
    height: 100%;
}

ul {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

a:link {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #403f3d;
    width: 100%;
    top: 0;
}


footer {
    width: 100%;
    background-color: #403f3d;
}

.content {
    /*flex_parent*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.footer_txt {
    text-align: start;
    margin: 1vw;
    flex-grow: 1;
}



/*-------navigation menu---------*/

nav .hidden {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

nav a {
    padding: 0.2rem;
    margin: 0.4rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

nav li:hover {
    transform: scale(1.2);
}

nav {
    display: flex;
    width: 100%;
}

/* unvisited link */
header nav a:link {
    color: #F2F2F2;
}

/*visited*/
header nav a:visited {
    color: #5e8c88;
}

/* mouse over link */
header nav a:hover {
    color: #f2e8d5;
}

/* selected link */
header nav a:active {
    color: #f2e8d5;
}

#menuknap {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.pos_m {
    top: 1vw;
    right: 2vw;
}

.bar1,
.bar2,
.bar3 {
    width: 6.5vw;
    height: 1.3vw;
    background-color: #F2F2F2;
    margin: 0.5vw;
    border-radius: 0.4vw;
}

.hidden {
    transform: translateX(100%);
    opacity: 0;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.sociale_media {
    display: flex;
    width: 10%;
    margin-left: -150px;
}

.sociale_media img {
    height: 4vw;
    width: 4vw;
    display: flex;

}

.facebook img {
    height: 4.4vw;
    width: 4.4vw;
}

.sociale_media img:hover {
    transform: scale(1.3);
}


/*---------------fonts------------*/
}

.boks p {
    text-indent: 0.3vw;
    font-size: 0.8rem;
}

#forside {
    font-family: 'Lato', sans-serif;
    color: #010d00;
    font-size: 2.2vw;
}

#medlemskab p {
    font-family: 'Lato', sans-serif;
    color: #F2F2F2;
    text-align: left;
    font-size: 2.3vw;
}

h1,
h2 {
    font-family: 'Black Ops One', cursive;
    color: #5e8c88;
    font-size: 5vw;
}

#traening p {
    font-size: 2.3vw;
    font-family: 'Lato', sans-serif;
    color: #400101;
}

#medlemskab h4 {
    font-family: 'Black Ops One', cursive;
    color: #5e8c88;
    font-size: 2vw;
    text-align: left;
}

#medlemskab h2 {
    font-family: 'Black Ops One', cursive;
    color: #5e8c88;
    font-size: 3.2vw;
}

#medlemskab h3 {
    font-family: 'Black Ops One', cursive;
    color: #5e8c88;
    font-size: 2.5vw;
}

footer h6 {
    font-family: 'Lato', sans-serif;
    color: #F2F2F2;
    font-size: 0.7rem;
}

footer p {
    text-indent: 4vw;
    font-family: 'Lato', sans-serif;
    color: #F2F2F2;
    font-size: 0.7rem;
}

/*---------knapper------------*/

.knap a {
    font-family: 'Lato', sans-serif;
    font-size: 2.5vw;
    color: #F2F2F2;
}

.knap_sprite {
    width: 16vw;
    height: 4vw;
    padding: 0.4vw;
    text-align: center;
    cursor: pointer;
}

.knap {
    width: 16vw;
    height: 5vw;
    background-color: #400101;
    border-radius: 1vw;
    margin-left: 51vw;
}

.knap a:hover {
    color: brown;
}

.buy_knap a {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    color: #400101;
}

.buyknap_sprite {
    padding: 0.2vw;
    text-align: center;
    cursor: pointer;
}

.buy_knap {
    width: 10vw;
    background-color: #F2F2F2;
    border-radius: 1vw;
    padding: 0.8vw;

}

/*------------------------Indhold----------------------------*/

#splash {
    width: 100vw;
    height: 20vw;
    background-size: cover;
    background-position: 30% 0%;
    background-image: url(images/crossfit_splashbillede.jpg);
}


/*---------------Forside-------------*/

#forside {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5vw;
    margin: 3vw;
}

#forside .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#forside .txt,
#forside .video_container {
    flex-basis: 250px;
    flex-grow: 1;
    margin-left: 2vw;
    padding-right: 1vw;
    /*word-break: break-all;*/
}

video {
    width: 100%;
    height: auto;
}

.video_container {
    position: relative;
    display: flex;
}

.video_controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(94, 140, 136, 1) 70%);
    background-image: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(94, 140, 136, 1) 70%);
    background-image: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(94, 140, 136, 1) 70%);
    background-image: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(94, 140, 136, 1) 70%);
    background-image: -ms-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(94, 140, 136, 1) 70%);

    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.13, rgb(255, 255, 255)),
        color-stop(1, rgb(255, 255, 255)));
}

.video_container:hover .video_controls {
    opacity: .9;
}


button {
    background: rgba(0, 0, 0, .5);
    border: 0;
    color: #EEE;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

#seek-bar {
    width: 360px;
}

#volume-bar {
    width: 60px;
}


/*------------Om os-----------*/
#omos {
    flex-flow: flex wrap;
    padding: 0.5rem;
    margin: 2.5vw;
}

#omos .txt {
    margin: 1.8vw;
    padding: 0.8vw;
    font-family: 'Lato', sans-serif;
    color: #010d00;
    font-size: 2.2vw;
}

#omos h1,
#omos h2 {
    text-align: center;
}

.profil p,
.profil ul {
    font-family: 'Lato', sans-serif;
    color: #F2F2F2;
    font-size: 2.2vw;
}

#omos .sectionwrapper {
    flex-flow: flex wrap;
}

#omos .top {
    margin: 3vw;
    padding: 0.8vw;
    /*child flex*/
    flex-grow: 1;
    flex-basis: 300px;
    /*parent flex*/
    display: flex;
    justify-content: space-between;
}

#omos .bottom {
    margin: 2.5vw;
    padding: 0.8vw;
    /*child flex*/
    flex-grow: 1;
    flex-basis: 250px;
    /*parent flex*/
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: nowrap;
    /*white-space: nowrap;*/
}

#omos .profil {
    width: 35vw;
    margin: 1.5vw;
    background-color: #400101;
    padding: 2vw;
    text-overflow: ellipsis;
    flex: 0 0 auto;
}

/*---------------Medlemskab-------------*/

#medlemskab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    margin: 3vw;
}

#medlemskab .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#medlemskab .container {
    /*child flex
    flex-grow: 1;
    flex-basis: 50px;
    /*parent flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boks {
    width: 40vw;
    height: 40vw;
    margin: 1.5vw;
    background-color: #400101;
    vertical-align: top;
    padding: 2vw;
}

.pos1,
.pos2,
.pos3,
.pos4,
.pos5,
.pos6,
.pos7 {
    margin-top: 0vw;
    margin-left: 15vw;
}

/*-----------træning------------*/

#traening {
    flex-flow: flex wrap;
    padding: 0.5rem;
    margin: 3vw;
}

/*----------------Animation---------------*/
.zoom_in {
    animation-name: zoom_in_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes zoom_in_kf {
    0% {

        transform: scale (0.5, 0.5);
    }

    100% {
        transform: scale(8, 8);
    }
}

/*-----------store skærme------------*/
@media only screen and (min-width: 600px) {
    #splash {
        background-position: 100%;
    }

    #menuknap {
        display: none;
        background-color: #403f3d;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
        font-size: 1rem;
    }

    #menu {
        list-style-type: none;
        transition: transform .3s;
        transform-origin: top right;
        background-color: #403f3d;
        width: 100%;
    }

    #sociale_media {
        display: flex;
        width: 10%;
        margin-left: 0px;
    }

    #sociale_media img {
        height: 2vw;
        width: 2vw;
        display: flex;
    }

    .facebook {
        height: 2.2vw;
        width: 2.2vw;
    }

    .buy_knap a {
        font-size: 0.5vw;
    }

    .knap a {
        font-size: 1.4vw;
    }

    .knap_sprite {
        width: 9vw;
        height: 1.5vw;
        padding: 0.4vw;
    }

    .knap {
        width: 10vw;
        height: 3vw;
        margin-left: 25vw;
        padding: 0.2rem;
    }

    .buy_knap {
        width: 8vw;
    }

    .buy_knap a {
        font-size: 1.3vw;
    }

    .boks {
        display: inline-block;
        width: 20vw;
        height: 20vw;
        margin: 0.5vw;
        padding: 1vw;
        vertical-align: top;
    }

    .pos1,
    .pos2,
    .pos3,
    .pos4,
    .pos5,
    .pos6,
    .pos7 {
        margin-top: 2vw;
        margin-left: 6vw;
    }

    footer h6 {
        font-size: 1.5vw;
    }

    footer p {
        font-size: 1.3vw;
    }

    h1,
    h2,
    #traening h1 {
        font-size: 2.6vw;
    }

    #traening h2 {
        font-size: 2vw;
    }

    #omos p,
    #forside p,
    #omos ul {
        font-size: 1.3vw;
    }

    #medlemskab p {
        font-size: 1vw;
    }

    #medlemskab h3 {
        font-size: 1.2vw;
    }

    #medlemskab h4 {
        font-size: 1vw;
    }

    #medlemskab h2 {
        font-size: 1.6vw;
    }
}

/*@media only screen and (min-width: 401px) {
    #forside {
        width: 100vw;
        height: 56.25vw;
        background-position: 0% 0%;
    }
}


@media only screen and (min-width: 700px) {
    #forside .sectionwrapper {
        flex-wrap: nowrap;
    }
}


@media (orientation: landscape) {
    #forside {
        width: 100vw;
        height: 56.25vw;
        background-position: 0% 0%;
    }
}*/
